extends ../layout/main
block variables
  - var title = 'Index Page';
  - var description = 'Description for Index Page';
block content
  section
    .container
      // Svg sprite example
      svg
        use(xlink:href="#facebook")
block script