html
  head
    style
  body
    h1 My Site
    p Welcome to my super lame site.
    img(src="../../assets/images/mail.png" alt="" srcset="")
    img(src="../../assets/images/2056977.svg" alt="" srcset="")
    script