extends ../layout/main
block variables
  - var title = 'Index Page';
  - var description = 'Description for Index Page';
block content
  section
    .container
      //- img(src="../../assets/images/social/facebook.svg" alt="")
      svg
        use(xlink:href="#facebook")
block script